#####           CharminULTRA Prusa MK3S+ Klipper Config Template

##### ***********REVIEW THE README INSTRUCTIONS FOR ALL STEPS***************

# Uncomment the necessary items as you walk through this file. Many are already uncommented. Look for TUNE ME for important areas to tune to your specific printer.
# TUNING STEPS ARE NOT OPTIONAL.

### UI and Built-in Macros (see macros.cfg for added macros)
[include mainsail.cfg]

### PRINTER - Machine Limits are set inside of Klipper rather than from PrusaSlicer
[printer]
kinematics: cartesian

## MK3.5 Settings based on MK3.5 IS PrusaSlicer factory profile machine limits
max_velocity: 300
max_accel: 4000
minimum_cruise_ratio: 0.5
max_z_velocity: 6 # halved due to bed vibration messing up bed mesh probe accuracy
max_z_accel: 375  # ^

## MK3S+ Settings based on MK3S+ PrusaSlicer factory profile machine limits, if you want to maintain stock speed limits for some reason.
#max_velocity: 200
#max_accel: 1000
#minimum_cruise_ratio: 0.5
#max_z_velocity: 12
#max_z_accel: 200

## Z-OFFSET 
## Copy this from your current setting on Prusa, but make it absolute (removing -). You WILL need to still calibrate this properly, 
## as the probe algorithms between Prusa and Klipper firmware are slightly different.
## Note: Different Z-Offsets for different bed sheets is not yet implemented, but editing this file is a fairly simple method. You can only enable ONE at a time.
[probe]
#z_offset = 0.000 #Regular bed sheet
#z_offset = 0.000 #PETG on regular bed sheet, add/delete/edit as needed
#z_offset = 0.000 #Satin bed sheet, add/delete/edit as needed
#z_offset = 0.000 #Textured bed sheet, add/delete/edit as needed
#z_offset = 0.000 #Smooth bed sheet, add/delete/edit as needed

[mcu]
serial: /dev/ttyACM0 # If you are using RPI via USB connection to printer
#serial: /dev/serial0 # If you are using internal RPI serial port, not recommended.
restart_method: command

### CONTROL BOARD
[include einsy-rambo.cfg]

### BASE SETUP
[include display.cfg]
[include steppers.cfg]
[include tmc2130.cfg]



### HOTEND, BED and EXTRUDER - 

## Possible Hotends - This config file is intended for stock Prusa components. If you are using a non-stock hotend or extruder, please see the example configuration files in the dz0ny repository, upon which this project is based. These are not guarunteed to be correct, but a good start.
## 1) Stock V6
## 2) Dragon Standard Flow
## 3) Rapido
## 4) Revo
## 5) Other hotends are easily configurable, but do not have existing pre-made config code.

##Possible Extruders: If you are using a non-stock extruder, please see the example configuration files in the dz0ny repository, upon which this project is based. Changing extruders can require significant modification to your overall configuration, and will require your own research/work.
## 1) Stock Prusa
## 2) BMG 
## 3) Sherpa 8T and 10T
## 4) Other extruders are configurable, but do not have existing pre-made config code.

[extruder]
##TUNE ME
##Extruder Rotation Distance - Prior to calibration, make sure your Idler Screw Tension is correct: https://help.prusa3d.com/article/idler-screw-tension_177367
rotation_distance: 22.500620 #Make sure you tune this for your individual machine: https://ellis3dp.com/Print-Tuning-Guide/articles/extruder_calibration.html

##TUNE ME
##Items below come from performing PID Tuning, yours will be unique!!
#control = pid
#pid_kp = 29.944
#pid_ki = 2.037
#pid_kd = 110.045


##TUNE ME
##Pressuer Advance Section - Perform this tuning for your individual machine: https://ellis3dp.com/Print-Tuning-Guide/articles/index_pressure_advance.html
##ENTER THE PA VALUE VALUE IN SLICER FILAMENT SETTINGS - In Filament Settings Custom G Code section (allows you to print with different PA for each filament, more flexibile than here).
##You may also enter a set a global value here if you want, but it's not recommended.
pressure_advance: 0.04

nozzle_diameter: 0.4 # Remember to change this if you change nozzle diameter.
min_extrude_temp: 170
min_temp: 0
max_temp: 285
full_steps_per_rotation: 200
filament_diameter: 1.750
max_extrude_only_distance: 200
max_extrude_cross_section: 50.0
max_extrude_only_velocity: 120.0
max_extrude_only_accel: 1250.0 #Limited to the retraction accel on the MK3.5

[heater_bed]
##TUNE ME
##Items below come from performing PID Tuning, yours will be unique!! 
#control = pid
#pid_kp = 48.658
#pid_ki = 0.603
#pid_kd = 981.685




### MACROS
[include macros.cfg]

[pause_resume]

[include pause.cfg]


### INPUT SHAPING

# Uncomment ONE of the two lines below, depending on which accelerometer board you are using.
#[include adxlmcu-KUSBA.cfg] # ONLY FOR USE DURING INPUT SHAPING TESTING - Leaving this on without the accelerometer plugged in will cause Klipper to not work.
#[include adxlmcu-BTT.cfg] # ONLY FOR USE DURING INPUT SHAPING TESTING - Leaving this on without the accelerometer plugged in will cause Klipper to not work.

[input_shaper]


### OTHER FEATURES OR TUNING
[exclude_object]

### SKEW CORRECTION - This is the LAST tuning procedure. Follow instructions.
##TUNE ME
[skew_correction]

### THIRD PARTY FEATURES

### MISC
[menu __main __octoprint]
type: disabled #Removes Octoprint from physical printer menu. Not needed.

[safe_z_home]
home_xy_position: 11,6
speed: 50.0
z_hop: 15
z_hop_speed: 15.0
move_to_previous: False



###
### STOP
###
### Do not edit anything below this line. The printer will store values here automatically when you
###  perform the SAVE_CONFIG command. They may look like they are commented out but any line that
###  starts with #*# will be read in by Klipper and applied.
###
### When you are done with the guide you should see sections below for extruder, heater_bed, probe, and input_shaper.
###

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.700
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.067500, -0.141667, -0.027500, 0.098333, 0.005000
#*# 	-0.245833, -0.560000, -0.429167, -0.220000, -0.158333
#*# 	-0.325000, -0.706667, -0.502500, -0.282500, -0.208333
#*# 	-0.310000, -0.547500, -0.322500, -0.125833, -0.119167
#*# 	-0.046667, -0.135833, 0.106667, 0.251667, 0.103333
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 24.0
#*# max_x = 650.0
#*# min_y = 6.0
#*# max_y = 305.0
#*#
#*# [bed_mesh default2]
#*# version = 1
#*# points =
#*# 	0.162500, -0.302500, -0.309167, -0.134167, -0.195833
#*# 	-0.830000, -0.920000, -0.739167, -0.474167, -0.380833
#*# 	-1.235000, -1.186667, -0.871667, -0.575833, -0.425833
#*# 	-1.045000, -1.001667, -0.733333, -0.417500, -0.369167
#*# 	-0.393333, -0.485000, -0.268333, -0.082500, -0.197500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 24.0
#*# max_x = 650.0
#*# min_y = 6.0
#*# max_y = 305.0
#*#
#*# [bed_mesh default7]
#*# version = 1
#*# points =
#*# 	-0.055833, -0.249167, -0.177500, -0.065000, -0.200833
#*# 	-0.266667, -0.609167, -0.462500, -0.300000, -0.310833
#*# 	-0.345833, -0.741667, -0.565000, -0.360833, -0.359167
#*# 	-0.400000, -0.627500, -0.425833, -0.253333, -0.315833
#*# 	-0.216667, -0.255000, -0.080000, 0.029167, -0.219167
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 24.0
#*# max_x = 650.0
#*# min_y = 6.0
#*# max_y = 305.0
#*#
#*# [bed_mesh default8]
#*# version = 1
#*# points =
#*# 	0.130833, -0.118333, 0.002500, 0.105833, 0.007500
#*# 	-0.110000, -0.505833, -0.406667, -0.204167, -0.168333
#*# 	-0.180000, -0.648333, -0.485833, -0.263333, -0.205833
#*# 	-0.222500, -0.508333, -0.305833, -0.121667, -0.125000
#*# 	-0.020833, -0.113333, 0.128333, 0.260833, 0.117500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 24.0
#*# max_x = 650.0
#*# min_y = 6.0
#*# max_y = 305.0
#*#
#*# [bed_mesh default9]
#*# version = 1
#*# points =
#*# 	0.008333, -0.159167, -0.074167, 0.030000, -0.084167
#*# 	-0.137500, -0.508333, -0.383333, -0.205833, -0.203333
#*# 	-0.208333, -0.630833, -0.450000, -0.253333, -0.246667
#*# 	-0.270000, -0.500000, -0.297500, -0.130000, -0.188333
#*# 	-0.170000, -0.176667, 0.065833, 0.189167, -0.110000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 24.0
#*# max_x = 650.0
#*# min_y = 6.0
#*# max_y = 305.0
#*#
#*# [bed_mesh default10]
#*# version = 1
#*# points =
#*# 	0.031667, 0.021667, 0.098333, -0.025833, -0.386667
#*# 	-0.079167, -0.315833, -0.265833, -0.278333, -0.438333
#*# 	-0.043333, -0.438333, -0.340000, -0.302500, -0.399167
#*# 	-0.064167, -0.262500, -0.175833, -0.157500, -0.229167
#*# 	0.119167, 0.147500, 0.220833, 0.189167, 0.000833
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 24.0
#*# max_x = 650.0
#*# min_y = 6.0
#*# max_y = 305.0
#*#
#*# [bed_mesh default11]
#*# version = 1
#*# points =
#*# 	0.019167, 0.000000, 0.012500, -0.105000, -0.355000
#*# 	-0.038333, -0.297500, -0.281667, -0.302500, -0.407500
#*# 	-0.030000, -0.425000, -0.365000, -0.349167, -0.402500
#*# 	-0.101667, -0.293333, -0.260833, -0.240833, -0.320000
#*# 	-0.040000, 0.024167, 0.040833, -0.011667, -0.181667
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 24.0
#*# max_x = 650.0
#*# min_y = 6.0
#*# max_y = 305.0
#*#
#*# [bed_mesh default12]
#*# version = 1
#*# points =
#*# 	-0.216667, -0.317500, -0.290000, -0.335000, -0.466667
#*# 	-0.225000, -0.597500, -0.611667, -0.585000, -0.610000
#*# 	-0.193333, -0.719167, -0.712500, -0.675833, -0.675000
#*# 	-0.342500, -0.616667, -0.614167, -0.599167, -0.639167
#*# 	-0.357500, -0.301667, -0.303333, -0.414167, -0.578333
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 24.0
#*# max_x = 650.0
#*# min_y = 6.0
#*# max_y = 305.0
#*#
#*# [bed_mesh default13]
#*# version = 1
#*# points =
#*# 	-0.422500, -0.553333, -0.547500, -0.534167, -0.534167
#*# 	-0.494167, -0.847500, -0.827500, -0.755833, -0.664167
#*# 	-0.500833, -0.986667, -0.956667, -0.865833, -0.715833
#*# 	-0.605833, -0.861667, -0.841667, -0.765833, -0.688333
#*# 	-0.569167, -0.528333, -0.518333, -0.562500, -0.601667
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 24.0
#*# max_x = 650.0
#*# min_y = 6.0
#*# max_y = 305.0
#*#
#*# [bed_mesh default13.1r]
#*# version = 1
#*# points =
#*# 	0.075833, -0.028333, 0.011667, 0.057500, 0.115000
#*# 	0.000000, -0.338333, -0.297500, -0.173333, -0.008333
#*# 	-0.002500, -0.481667, -0.409167, -0.258333, -0.062500
#*# 	-0.131667, -0.355000, -0.293333, -0.197500, -0.047500
#*# 	-0.120000, -0.041667, 0.013333, 0.024167, 0.050000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 24.0
#*# max_x = 650.0
#*# min_y = 6.0
#*# max_y = 305.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.707
#*# pid_ki = 0.902
#*# pid_kd = 118.806
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 60.349
#*# pid_ki = 1.355
#*# pid_kd = 672.135
